flows/IPM_Update_Insurer_Review_Process_Assessments_Completed_Flag-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Counter_Increment</name>
        <label>Counter Increment</label>
        <locationX>489</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>vCtr</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Assessments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_number_of_Assessments_Counter_Increment</name>
        <label>Total number of Assessments Counter Increment</label>
        <locationX>25</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>vTotalCtr</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Assessment_Complete</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Counter_Total_Assessment_Counter</name>
        <label>Counter = Total Assessment Counter</label>
        <locationX>486</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Reset_related_Insurer_Review_Process_Completed_Assessments_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCtr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vTotalCtr</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_Insurer_Review_Process_Completed_Assessments_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Assessment_Complete</name>
        <label>Is Assessment Complete?</label>
        <locationX>139</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Assessments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vEachAssessment.IPM_Assessment_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counter_Increment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Insurer Review Process Assessments Completed Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Insurer Review Process Assessments Completed Flag</label>
    <loops>
        <name>Loop_through_all_Assessments</name>
        <label>Loop through all Assessments</label>
        <locationX>140</locationX>
        <locationY>169</locationY>
        <assignNextValueToReference>vEachAssessment</assignNextValueToReference>
        <collectionReference>vRelatedAssessments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_number_of_Assessments_Counter_Increment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Counter_Total_Assessment_Counter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_all_Assessments_related_to_Insurer_Review_Process</name>
        <label>Find all Assessments related to Insurer Review Process</label>
        <locationX>138</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Assessments</targetReference>
        </connector>
        <filters>
            <field>IPM_Insurer_Review_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInsurerReviewProcessId</elementReference>
            </value>
        </filters>
        <object>IPM_Assessment__c</object>
        <outputReference>vRelatedAssessments</outputReference>
        <queriedFields>IPM_Assessment_Complete__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Reset_related_Insurer_Review_Process_Completed_Assessments_field</name>
        <label>Reset related Insurer Review Process Completed Assessments field</label>
        <locationX>716</locationX>
        <locationY>171</locationY>
        <filters>
            <field>IPM_All_Assessments_Complete_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInsurerReviewProcessId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPM_All_Assessments_Complete_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>IPM_Insurer_Review_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Insurer_Review_Process_Completed_Assessments_field</name>
        <label>Update related Insurer Review Process Completed Assessments field</label>
        <locationX>487</locationX>
        <locationY>29</locationY>
        <filters>
            <field>IPM_All_Assessments_Complete_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInsurerReviewProcessId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPM_All_Assessments_Complete_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IPM_Insurer_Review_Process__c</object>
    </recordUpdates>
    <startElementReference>Find_all_Assessments_related_to_Insurer_Review_Process</startElementReference>
    <variables>
        <name>vCtr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vEachAssessment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPM_Assessment__c</objectType>
    </variables>
    <variables>
        <name>vInsurerReviewProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRelatedAssessments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPM_Assessment__c</objectType>
    </variables>
    <variables>
        <name>vTotalCtr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
