flows/IPM_Create_Licence_from_Insurer_Review_Process-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_New_Licence_Details</name>
        <label>Set New Licence Details</label>
        <locationX>322</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>vLicenceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Licence</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFullConditional</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conditional</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Licence_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Renewal_Licence_Details</name>
        <label>Set Renewal Licence Details</label>
        <locationX>583</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>vLicenceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRenewalLicenceName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Licence_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Licence_Application</name>
        <label>New Licence Application?</label>
        <locationX>321</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>Set_Renewal_Licence_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Insurer_Review_Process_is_New_Licence_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIRPRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Licence Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Licence_Details</targetReference>
            </connector>
            <label>Insurer Review Process is New Licence Application</label>
        </rules>
    </decisions>
    <formulas>
        <name>fRenewalLicenceName</name>
        <dataType>String</dataType>
        <expression>&quot;Licence Commencing &quot; &amp; TEXT({!vNewStartDate})</expression>
    </formulas>
    <interviewLabel>Create Licence from Insurer Review Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Licence from Insurer Review Process</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Licence</name>
        <label>Create Licence</label>
        <locationX>54</locationX>
        <locationY>28</locationY>
        <assignRecordIdToReference>vLicenceId</assignRecordIdToReference>
        <connector>
            <targetReference>Associate_Licence_to_Insurer_Review_Process</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Licence Name</stringValue>
            </value>
        </inputAssignments>
        <object>GLS_Licence__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Licence_Details</name>
        <label>Get Current Licence Details</label>
        <locationX>58</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Licence_Application</targetReference>
        </connector>
        <filters>
            <field>IPM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLicenceId</elementReference>
            </value>
        </filters>
        <object>GLS_Licence__c</object>
        <outputAssignments>
            <assignToReference>vNewStartDate</assignToReference>
            <field>GLS_expiryDate__c</field>
        </outputAssignments>
        <sortField>GLS_expiryDate__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurer_Review_Process_Details</name>
        <label>Get Insurer Review Process Details</label>
        <locationX>58</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Licence_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInsurerReviewProcessId</elementReference>
            </value>
        </filters>
        <object>IPM_Insurer_Review_Process__c</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>IPM_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vIRPRecordTypeName</assignToReference>
            <field>IPM_Record_Type_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Associate_Licence_to_Insurer_Review_Process</name>
        <label>Associate Licence to Insurer Review Process</label>
        <locationX>55</locationX>
        <locationY>173</locationY>
        <connector>
            <targetReference>Get_Insurer_Review_Process_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vInsurerReviewProcessId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IPM_Licence__c</field>
            <value>
                <elementReference>vLicenceId</elementReference>
            </value>
        </inputAssignments>
        <object>IPM_Insurer_Review_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Licence_Details</name>
        <label>Update New Licence Details</label>
        <locationX>579</locationX>
        <locationY>176</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLicenceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GLS_startDate__c</field>
            <value>
                <elementReference>vNewStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vLicenceName</elementReference>
            </value>
        </inputAssignments>
        <object>GLS_Licence__c</object>
    </recordUpdates>
    <startElementReference>Create_Licence</startElementReference>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFullConditional</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Conditional</stringValue>
        </value>
    </variables>
    <variables>
        <name>vInsurerReviewProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIRPRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLicenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLicenceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
