flows/MRS_UpdateCaseStatus-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApexCaseService</name>
        <label>ApexCaseService</label>
        <locationX>278</locationX>
        <locationY>350</locationY>
        <actionName>DRS_CaseService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateTaskDocumentChecklist</targetReference>
        </connector>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodType</name>
            <value>
                <stringValue>MRSInsurerCaseItemAutomation</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>QueryCaseStatus</name>
        <label>QueryCaseStatus</label>
        <locationX>394</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ValidateStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Validate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseStatusDiscovery</targetReference>
            </connector>
            <label>ValidateStatus</label>
        </rules>
        <rules>
            <name>DiscoveryStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Discovery</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseStatusAssess</targetReference>
            </connector>
            <label>DiscoveryStatus</label>
        </rules>
    </decisions>
    <description>Updates the Case Status when called by Process Builder &apos;TaskCreateorUpdate&apos; then creates Tasks for the owner. Also excecutes the creation of Insurer Case Team roles.</description>
    <interviewLabel>MRS_UpdateCaseStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DRS_CaseManagementFlow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTaskAllocationChecklist</name>
        <label>CreateTaskAllocationChecklist</label>
        <locationX>504</locationX>
        <locationY>356</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskTemplate__c</field>
            <value>
                <stringValue>a0YN0000003mIWW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseWhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseWhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskDocumentChecklist</name>
        <label>CreateTaskDocumentChecklist</label>
        <locationX>275</locationX>
        <locationY>463</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskTemplate__c</field>
            <value>
                <stringValue>a0YN0000003mIWb</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseWhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CaseWhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>LookupCase</name>
        <label>LookupCase</label>
        <locationX>391</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueryCaseStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseWhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentCaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseStatusAssess</name>
        <label>UpdateCaseStatusAssess</label>
        <locationX>505</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>CreateTaskAllocationChecklist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012N00000009blV</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assess</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseStatusDiscovery</name>
        <label>UpdateCaseStatusDiscovery</label>
        <locationX>274</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>ApexCaseService</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012N00000009blV</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>LookupCase</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseWhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseWhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Discovery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Discovery</stringValue>
        </value>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Validate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Validate</stringValue>
        </value>
    </variables>
</Flow>
